* {
    padding: 0;
    margin: auto;
}
body {
    background-color: rgb(12, 12, 12);
    display: flex;
    width: 100vw;
    height: 100vh;
}
#calc-body {
    background-color: #2C2C34;
    padding: 1.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    border-radius: .2rem;
    box-shadow: 0px 0px 2px #BA3F1D;
}
.calc-btn {
    width: 25%;
    padding: .5rem .1rem;
    border-radius: .2rem;
    border: 1px solid #2C2C34;
    font-size: .5rem;
    background-color: #FFF8F0;
}
.equals-btn {
    background-color: #BA3F1D;
}
.operator {
    background-color: #978897;
}
.calc-btn:hover {
    opacity: .8;
    cursor: pointer;
    transition: .2s;
}

#display {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background-color: #c7acac;
    padding: .1rem;
    margin-bottom: .5rem;
    border-radius: .2rem;
    padding: .2rem .4rem;
}