* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
  
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
      text-shadow: 2px 2px 3px #0c0c0c;
  }
  body {
    display: flex;
    width: 100vw;
    height: 100vh;
  
    background-color: #0c0c0c;
  }
  #calcBody {
    display: flex;
    flex-wrap: wrap;
    width: 25vw;
    height: 70vh;
    position: relative;
  
    background-color: rgb(44, 44, 52);
    border-radius: .5rem;
    border: 1px solid #bd4b43;
    box-shadow: 2px 2px 10px #bd4b43;
    overflow: hidden;
  }
  #calcBody::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/mainTexture.img');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    pointer-events: none;
    z-index: 1;
  }
  #calcContent {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
  }
  .calcBtn {
    width: 25%;
    margin: 0;
    padding: .5rem .1rem;
  
    border-radius: .5rem;
    border: 4px solid #2C2C34;
    color: #0c0c0c;
    text-shadow: 2px 2px 3px #bd4b43;
    background-color: #FFF8F0;
    box-shadow: 5px 5px 5px #0c0c0c;
  
    font-size: 3vw;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .equalsBtn {
    background-color: #bd4b43;
    text-shadow: 2px 2px 3px #FFF8F0;
  }
  .operator {
    background-color: #978897;
  }
  #backspace {
    background-color: #978897;
  }
  .calcBtn:hover, #historyBtn:hover {
    opacity: .8;
    cursor: pointer;
    transition: .1s;
  
    box-shadow: 0px 0px 10px #bd4b43;
    border: 2px solid #bd4b43;
  
  }
  #historyBtn {
    position: absolute;
    padding: .5rem .4rem ;
    border-radius: .5rem;
    border: none;
    text-shadow: none;
    background-color: #bd4b43;
    color: #FFF8F0;
    border: 4px solid #2C2C34;
    box-shadow: 2px 2px 5px #0c0c0c;
  
    top: .75rem;
    left: 1rem;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: .5rem;
    z-index: 100;
  }
  #historyScreen {
    display: none;
    margin: 1rem;
    border-radius: .5rem;
    border: 4px solid #2C2C34;
    background-color: #c9b5b5;
    width: 100%;
    height: 85%;
    padding: 1.5rem 1rem;
    align-self: flex-end;
    box-shadow: 2px 2px 5px #0c0c0c;
    word-break: break-all;
    line-height: 1.5;
  }
  #historyList {
    list-style: none;
    width: 100%;
    height: 100%;
    padding: .2rem;
    text-align: left;
  }
  li {
    margin-bottom: 1rem;
    color: #bd4b43;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 2px #0c0c0c;
    letter-spacing: 2px;
  }
  #display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-bottom: 1rem;
    padding: .2rem .4rem;
    overflow: hidden;
    border: 4px solid #2C2C34;
    border-radius: .5rem;
    background-color: #c9b5b5;
    box-shadow: 5px 5px 10px #0c0c0c;
    margin: 0;
  }
  #secondDisplay {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 2px;
    font-size: .7rem;
  }
  
  @media (max-width: 1100px) {
    #calcBody {
        width: 50vw;
    }
    #display {
        height: 15%;
    }
    .calc-btn {
        font-size: 2vw;
    }
  }
  @media (max-width: 430px) {
    #calcBody {
        height: 90vh;
        width: 80vw;
    }
    #historyScreen {
      padding: .2rem .2rem;
      font-size: smaller;
    }
  }